.card {
  background-color: rgba(255, 255, 255, 0.20);
  box-shadow: 10px 9px 12px 5px rgb(0 0 0 / 50%);
  width: 200px;
  height: 300px;
  margin: 20px 70px;
  border-radius: 15px;
  padding: 10px;
}
.card:hover {
    transform: scale(1.10);
    transition: transform 0.6s ease-in-out;
  }

.cardImg {
  max-width: 94%;
  margin-top: 15px;
  border-radius: 10px;
}

.navlink {
    text-decoration: none;
    color: white;
}

