/* Estilos para el formulario */
.form-container {
  max-width: 500px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
  padding: 20px;
}

.form-container h1 {
  text-align: center;
}

.form-container form {
  display: flex;
  flex-direction: column;
}

.form-container label {
  font-weight: bold;
  margin-bottom: 5px;
  color:black
}

.form-container input,
.form-container textarea,
.form-container select {
  display: block;
  color: black;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.form-container p {
  margin: 5px 0;
  color: red;
}

.form-container button[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.form-container button[type="submit"]:hover {
  background-color: #45a049;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}